.episodes__wrap {
	padding: 100px 50px 160px;
}
.episodes__title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 99px;
	flex-grow: 1;
	margin-bottom: 40px;
}
.episodes__title {
	color: #fff;
	font-family: DM Sans;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 79.2px; /* 123.75% */
	letter-spacing: 2.88px;
}
.episodes__title-btn {
	padding: 12px 20px;
	flex-shrink: 0;
}
.episodes__list {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
