.subscribe__container {
	overflow-y: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
}
.subscribe__card {
	position: relative;
	display: flex;
	gap: 239px;
	padding: 60px;
	height: 387px;
	flex-shrink: 0;
	border-radius: 32px;
	background: #000;
}

.subscribe__title-appeal {
	color: #118da8;
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
}
.subscribe__title-text {
	color: #fff;
	font-family: DM Sans;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: 79.2px;
	letter-spacing: 2.88px;
}
.subscribe__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.subscribe__input {
	width: 522px;
	height: 82px;
	flex-shrink: 0;
	border-radius: 6px;
	border: 1px solid #191919;
	background: #191919;
	padding: 27px 19px;
	outline: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28.8px;
}
.subscribe__input::placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-family: DM Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28.8px;
}

.subscribe__button {
	width: 87px;
	height: 48px;
	flex-shrink: 0;
}

.subscribe__prop {
	position: absolute;
	object-fit: contain;
	bottom: -28px;
	left: -37px;
	
}
